.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.logo {
    width: 80px;
    height: 80px;
}

.nav-items > ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 20px;
    padding: 0 20px;
}

.search {
    padding: 10px;
}

.restro-card {
    width: 300px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.restro-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.res-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}